firebase-credentials.json

[Bb]in/
[Oo]bj/
Properties/PublishProfiles/
Properties/launchSettings.json
*.csproj.user
*.user
*.suo
*.sln.docstates

logs/
*.log
*.tmp
*.dbmdl
*.vspscc

packages/
*.nupkg
project.lock.json

.env

.DS_Store
Thumbs.db

.vs/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.idea
*.sln
*.DotSettings.user

publish/
